{% extends "base.html" %}

{% macro render_rule_tree(rules) %}
<ol class="rule-list">
    {% for rule in rules %}
    <li class="rule-item">
        <a href="/{{ language }}/rules/{{ rule_set_slug }}/{{ rule.slug }}" class="rule-number-link">
            {{ rule.number }}
        </a>
        <div class="rule-content">
            {% set link_context = {"definition": "/" + language + "/rules/" + rule_set_slug + "/definitions#", "rule": "/" + language + "/rules/" + rule_set_slug + "/"} %}
            {{ rule.content | markdown(link_context) | safe }}
        </div>
        {% if rule.children %}
        {{ render_rule_tree(rule.children) }}
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endmacro %}

{% block title %}Rule {{ rule.number }}{% endblock %}

{% block content %}
<section>
    <nav>
        <a href="/{{ language }}/rules/{{ rule_set_slug }}">← Back to {{ rule_set_slug | title }} Rules</a>
        {% if parent_rule %}
        | <a href="/{{ language }}/rules/{{ rule_set_slug }}/{{ parent_rule.slug }}">↑ Parent: {{ parent_rule.number }}</a>
        {% endif %}
    </nav>
    
    <article class="rule-detail">
        <header>
            <h1>
                <span class="rule-number">{{ rule.number }}</span>
            </h1>
        </header>
        
        <div class="rule-content">
            {% set link_context = {"definition": "/" + language + "/rules/" + rule_set_slug + "/definitions#", "rule": "/" + language + "/rules/" + rule_set_slug + "/"} %}
            {{ rule.content_markdown | markdown(link_context) | safe }}
        </div>
        
        {% if child_rules %}
        <section class="child-rules">
            <h2>Sub-rules</h2>
            {{ render_rule_tree(child_rules) }}
        </section>
        {% endif %}
    </article>
</section>
{% endblock %}