{% extends "base.html" %}

{% block title %}{{ rule_set_name }} Rules{% endblock %}

{% macro render_rule_tree(rules) %}
<ol class="rule-list">
    {% for rule in rules %}
    <li class="rule-item" id="{{ rule.slug }}">
        <a href="/{{ language }}/rules/{{ rule_set_slug }}/{{ rule.slug }}" class="rule-number-link">
            {{ rule.number }}
        </a>
        <div class="rule-content">
            {% set link_context = {"definition": "/" + language + "/rules/" + rule_set_slug + "/definitions#", "rule": "#"} %}
            {{ rule.content | markdown(link_context) | safe }}
        </div>
        {% if rule.children %}
        {{ render_rule_tree(rule.children) }}
        {% endif %}
    </li>
    {% endfor %}
</ol>
{% endmacro %}

{% block content %}
<section>
    <nav>
        <a href="/{{ language }}/rules">← Back to Rule Sets</a>
        <a href="/{{ language }}/rules/{{ rule_set_slug }}/definitions" role="button" class="secondary">📖 Definitions</a>
    </nav>
    
    <h1>{{ rule_set_name }} Rules</h1>
    <p><small>Version: {{ version_name }}</small></p>
    
    <div class="rules-hierarchy">
        {{ render_rule_tree(rule_tree) }}
    </div>
</section>
{% endblock %}
